@use '../../tools/reset';
@use '../../tools/responsive-properties';
@use 'theme';

.Stack {
    @include reset.list();

    display: grid;
}

.Stack--spacing {
    @include responsive-properties.create-cascade(
        $property: 'gap',
        $input-custom-property-base-name: 'stack-spacing',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$default-spacing
    );
}

.Stack--spacing.Stack--startDivider,
.Stack--spacing.Stack--endDivider,
.Stack--spacing.Stack--intermediateDividers {
    gap: 0;
}

// stylelint-disable selector-max-universal -- Remove any margins from all direct descendants regardless of their type.
.Stack > *:not(.StackItem) {
    margin-block: 0;
}
// stylelint-enable
