// 1. Make whole drop zone clickable. Cursor is hard-coded because links always use pointer.
// 2. We need to target inner elements in a specific component state.

@use '../../settings/cursors';
@use '../../settings/form-fields' as form-fields-settings;
@use '../../tools/accessibility';
@use '../../tools/breakpoint';
@use '../../tools/form-fields' as form-fields-tools;
@use '../../tools/pseudo-element';
@use '../../tools/typography';
@use 'theme';

$_field-name: 'UNSTABLE_FileUploadInput';

.UNSTABLE_FileUploadInput__input {
    @include accessibility.hide-text();
}

.UNSTABLE_FileUploadInput__dropZone {
    position: relative; // 1.
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: theme.$input-drop-zone-column-gap;
    justify-content: center;
    justify-items: center;
    padding: theme.$input-drop-zone-padding;
    text-align: center;
    border: theme.$input-drop-zone-border;
    border-radius: theme.$input-drop-zone-border-radius;
    background-color: theme.$input-drop-zone-background;
}

.UNSTABLE_FileUploadInput__dropZone--compact {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-content: left;
    justify-items: stretch;
    padding: theme.$input-drop-zone-padding-compact;
    text-align: left;

    @include breakpoint.up(theme.$breakpoint-tablet) {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: space-between;
        justify-items: start;
    }
}

.UNSTABLE_FileUploadInput__dropZoneLabel {
    @include pseudo-element.stretch(); // 1.
    @include typography.generate(theme.$input-drop-zone-label-typography);

    color: theme.$input-drop-zone-label-color;
    cursor: cursors.$form-fields;
}

.UNSTABLE_FileUploadInput:not(.has-drag-and-drop) .UNSTABLE_FileUploadInput__dragAndDropLabel {
    display: none;
}

.UNSTABLE_FileUploadInput__dropZone:hover {
    border-color: theme.$input-drop-zone-border-color-state-hover;
    background-color: theme.$input-drop-zone-background-state-hover;
}

.UNSTABLE_FileUploadInput__input:where(:active) ~ .UNSTABLE_FileUploadInput__dropZone {
    border-color: theme.$input-drop-zone-border-color-state-active;
    background-color: theme.$input-drop-zone-background-state-active;
}

.UNSTABLE_FileUploadInput__input:where(:focus-visible) ~ .UNSTABLE_FileUploadInput__dropZone {
    box-shadow: form-fields-settings.$input-focus-shadow;
}

// stylelint-disable-next-line selector-max-class -- 2.
.UNSTABLE_FileUploadInput.has-drag-and-drop > .UNSTABLE_FileUploadInput__dropZone {
    border-style: dashed;
}

// stylelint-disable-next-line selector-max-class -- 2.
.UNSTABLE_FileUploadInput.is-dragging > .UNSTABLE_FileUploadInput__dropZone {
    border-color: theme.$input-drop-zone-border-color-state-dragging;
}

@include form-fields-tools.input-field-validation-states($_field-name);

.UNSTABLE_FileUploadInput__dropZone--disabled,
.UNSTABLE_FileUploadInput__dropZone--disabled .UNSTABLE_FileUploadInput__dropZoneLabel {
    color: theme.$input-drop-zone-label-color-disabled;
    cursor: cursors.$disabled;
}

.UNSTABLE_FileUploadInput > .UNSTABLE_FileUploadInput__dropZone--disabled {
    border-style: dashed;
    border-color: theme.$input-drop-zone-border-color-state-disabled;
    background-color: theme.$input-drop-zone-background-state-disabled;
}
