.ComponentHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--spirit-space-800);
}

.ComponentHeader__text {
    display: flex;
    flex: 1 1 24rem;
    flex-direction: column;
    gap: var(--spirit-space-1000);
    min-width: 0;
}

.ComponentHeader__title {
    display: flex;
    flex-direction: column;
    gap: var(--spirit-space-700);
}

.ComponentHeader__content {
    margin-top: var(--spirit-space-1200);
}
