@use '@tokens' as tokens;
@use '../../settings/form-fields' as form-fields-settings;
@use '../../tools/accessibility';
@use '../../tools/dictionaries';
@use '../../tools/form-fields' as form-fields-tools;
@use '../../tools/reset';
@use '../../tools/typography';
@use 'theme';

.FileUploaderAttachment {
    @include typography.generate(theme.$attachment-typography);

    display: flex;
    column-gap: theme.$attachment-column-gap;
    align-items: center;
    width: var(--file-uploader-attachment-width, form-fields-settings.$box-field-input-width);
    padding: theme.$attachment-padding;
    color: theme.$attachment-color;
    border: theme.$attachment-border;
    border-radius: theme.$attachment-border-radius;
    background-color: theme.$attachment-background;
}

.FileUploaderAttachment--fluid {
    width: var(--file-uploader-attachment-width, 100%);
}

.FileUploaderAttachment__image {
    position: relative;
    width: var(--#{tokens.$css-variable-prefix}file-uploader-attachment-image-size);
    height: var(--#{tokens.$css-variable-prefix}file-uploader-attachment-image-size);
    overflow: hidden;
    border: theme.$attachment-image-border;
    border-radius: theme.$attachment-image-border-radius;
}

@include dictionaries.generate-rem-custom-properties(
    $selector: 'FileUploaderAttachment__image',
    $custom-property-base-name: 'file-uploader-attachment-image',
    $properties: (
        size: theme.$attachment-image-size,
    ),
    $breakpoints: tokens.$breakpoints
);

.FileUploaderAttachment__image > img {
    position: absolute;
    top: var(--file-uploader-attachment-image-top, 0);
    left: var(--file-uploader-attachment-image-left, 0);
    width: var(--file-uploader-attachment-image-width, 100%);
    height: var(--file-uploader-attachment-image-height, 100%);
    object-fit: var(--file-uploader-attachment-image-object-fit, cover);
    object-position: center;
}

.FileUploaderAttachment__name {
    display: grid;
    flex: 1;
}

.FileUploaderAttachment__slot {
    display: flex;
    gap: theme.$attachment-column-gap;
    align-items: center;
    justify-content: space-between;
}

.FileUploaderAttachment__action {
    @include reset.button();
    @include accessibility.min-tap-target($size: theme.$attachment-tap-target-size);

    color: inherit;

    &:focus-visible {
        outline: 0;
        box-shadow: form-fields-settings.$input-focus-shadow;
    }
}
