@use '@tokens' as tokens;
@use '../../tools/dictionaries';
@use 'theme' as theme;

.EmptyState {
    display: grid;
    justify-content: center;
    text-align: center;
}

.EmptyState__section {
    display: grid;
    width: 100%;
    max-width: var(--#{tokens.$css-variable-prefix}empty-state-max-width);
}

@include dictionaries.generate-rem-custom-properties(
    $selector: 'EmptyState__section',
    $custom-property-base-name: 'empty-state',
    $properties: (
        max-width: theme.$max-width,
    ),
    $breakpoints: theme.$breakpoints
);
