@use '@tokens' as tokens;

// Common for all form components
$input-color-state-disabled: tokens.$disabled-content;
$input-background-color: tokens.$form-field-fill-background-state-default;
$input-background-color-state-hover: tokens.$form-field-fill-background-state-hover;
$input-background-color-state-active: tokens.$form-field-fill-background-state-active;
$input-background-color-state-disabled: tokens.$disabled-background;
$input-border-color: tokens.$form-field-fill-border-state-default;
$input-border-color-success: tokens.$form-field-success;
$input-border-color-warning: tokens.$form-field-warning;
$input-border-color-danger: tokens.$form-field-danger;
$input-border-color-state-disabled: tokens.$disabled-border;
$input-focus-shadow: tokens.$focus-ring;

// Inline field form components – Checkbox, Radio, etc.
$inline-field-input-border-color-checked: tokens.$form-field-fill-border-state-selected;
$inline-field-input-border-color-checked-disabled: tokens.$disabled-background;
$inline-field-input-border-width: tokens.$border-width-200;
$inline-field-input-background-color-checked: tokens.$selected-state-default;

$validation-states: (
    success: (
        input-border-color: $input-border-color-success,
    ),
    warning: (
        input-border-color: $input-border-color-warning,
    ),
    danger: (
        input-border-color: $input-border-color-danger,
    ),
);
