@use 'theme';
@use '@tokens' as tokens;
@use '../../tools/typography';

.HelperText {
    @include typography.generate(theme.$typography);

    display: block;
    grid-column-start: var(--#{tokens.$css-variable-prefix}helper-text-grid-column-start);
    color: theme.$color-state-default;
}

.HelperText--disabled {
    color: theme.$color-state-disabled;
}
