@use '@tokens' as tokens;

.Headline {
    flex: 1 1 30rem;
    max-width: 43.5rem;
}

.Intro {
    flex: 1 1 20rem;
    max-width: tokens.$container-xsmall-max-width;
}

.Tile {
    display: flex;
    align-items: center;

    > * {
        flex: 1;
    }
}
