@use '@tokens' as tokens;
@use '../../tools/units';

$typography: tokens.$action-small;

$item-gap: tokens.$space-300;
$item-min-width: units.px-to-rem(40px);
$item-height: units.px-to-rem(40px);
$item-padding-inline: tokens.$space-600;
$item-border-width: tokens.$border-width-100;
$item-border-style: solid;
$item-border-radius: tokens.$radius-full;

$item-default-color: tokens.$component-pagination-unselected-content;
$item-default-border-color: tokens.$component-pagination-unselected-border;
$item-default-background-color: tokens.$component-pagination-unselected-state-default;

$item-active-color: tokens.$component-pagination-unselected-content;
$item-active-border-color: tokens.$component-pagination-unselected-border;
$item-active-background-color: tokens.$component-pagination-unselected-state-active;

$item-hover-color: tokens.$component-pagination-unselected-content;
$item-hover-border-color: tokens.$component-pagination-unselected-border;
$item-hover-background-color: tokens.$component-pagination-unselected-state-hover;

$item-selected-color: tokens.$component-pagination-selected-content;
$item-selected-border-color: tokens.$component-pagination-selected-border;
$item-selected-background-color: tokens.$component-pagination-selected-state-default;
