@use '@tokens' as tokens;
@use '../../tools/color-scheme';
@use '../../tools/component-color-overrides';
@use '../../tools/typography';
@use 'theme';

.Alert {
    --#{tokens.$css-variable-prefix}icon-composition-size: #{theme.$icon-size};

    @include typography.generate(theme.$typography);

    display: grid;
    grid-template-columns: auto auto;
    gap: theme.$gap;
    justify-content: flex-start;
    width: 100%;
    padding: theme.$padding;
    color: color-scheme.color();
    border-width: theme.$border-width;
    border-style: theme.$border-style;
    border-color: color-scheme.border-color();
    border-radius: theme.$border-radius;
    background-color: color-scheme.background-color();
}

.Alert--center {
    grid-template-columns: auto fit-content(#{theme.$content-max-width});
    justify-content: center;
}

@include component-color-overrides.generate(
    $class-name: 'Alert',
    $property-map: (
        content: color,
        border: border-color,
        background: background-color,
    )
);
