@use '@tokens' as tokens;
@use '../../tools/units';

$typography: tokens.$caption;

$gap: tokens.$space-600;
$icon-size: units.px-to-rem(20px);
$padding: tokens.$space-700;
$border-radius: tokens.$radius-300;
$border-style: solid;
$border-width: tokens.$border-width-100;

$content-max-width: units.px-to-rem(800px);
