@use 'sass:map';
@use '@tokens' as tokens;
@use '../../tools/breakpoint';
@use '../../tools/placement';
@use 'theme';

.DropdownPopover {
    --#{tokens.$css-variable-prefix}placement-offset: #{theme.$offset};

    @include placement.child();

    display: none;
    width: max-content;
    padding: theme.$padding;
    border-radius: theme.$border-radius;
    background-color: theme.$background;
    box-shadow: theme.$shadow;

    &[data-spirit-fullwidthmode='mobile-only'] {
        @include breakpoint.down(map.get(theme.$breakpoints, tablet)) {
            width: 100%;
        }
    }

    &[data-spirit-fullwidthmode='all'] {
        width: 100%;
    }
}

.DropdownPopover.is-open {
    display: block;
}
