@use 'theme';
@use '../../tools/color-scheme';
@use '../../tools/component-color-overrides';
@use '../../tools/typography';

.Pill {
    @include typography.generate(theme.$typography);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: theme.$size;
    height: theme.$size;
    padding: theme.$padding-y theme.$padding-x;
    text-align: center;
    color: color-scheme.color();
    border-radius: theme.$border-radius;
    background-color: color-scheme.background-color();
}

@include component-color-overrides.generate(
    $class-name: 'Pill',
    $property-map: (
        content: color,
        background: background-color,
    )
);
