@use 'theme';
@use '@tokens' as tokens;
@use '../../tools/component-color-overrides';
@use '../../tools/typography';

.Pill {
    @include typography.generate(theme.$typography);

    display: inline-block;
    min-width: 1rem;
    height: 1rem;
    padding: theme.$padding-y theme.$padding-x;
    text-align: center;
    color: var(--#{tokens.$css-variable-prefix}local-color);
    border-radius: theme.$border-radius;
    background-color: var(--#{tokens.$css-variable-prefix}local-background-color);
}

@include component-color-overrides.generate(
    $class-name: 'Pill',
    $property-map: (
        content: color,
        background: background-color,
    )
);
