// 1. Prevent shrinking when Icon is inside a flex container

@use '@tokens' as tokens;
@use '../../tools/responsive-properties';
@use 'theme';
@use 'tools';

.Icon {
    @include responsive-properties.create-cascade(
        $property: 'width',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}icon-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: var(--#{tokens.$css-variable-prefix}icon-composition-size, fit-content)
    );
    @include responsive-properties.create-cascade(
        $property: 'height',
        $input-custom-property-base-name: '#{tokens.$css-variable-prefix}icon-size',
        $breakpoints: theme.$breakpoints,
        $fallback-value: var(--#{tokens.$css-variable-prefix}icon-composition-size, fit-content)
    );

    flex-shrink: 0; // 1.
}

@include tools.generate-variants();
