@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/color-scheme';
@use '../../tools/component-color-overrides';
@use '../../tools/dictionaries';
@use '../../tools/dynamic-colors';
@use '../../tools/pseudo-element';
@use '../../tools/reset';
@use '../../tools/typography';
@use 'theme';

.Tag:where(button) {
    @include reset.button();
}

.Tag {
    @include typography.from-css-variables($infix: 'tag');

    display: inline-flex;
    gap: var(--#{tokens.$css-variable-prefix}tag-gap);
    align-items: center;
    height: var(--#{tokens.$css-variable-prefix}tag-height);
    padding-inline: var(--#{tokens.$css-variable-prefix}tag-padding-x);
    padding-block: var(--#{tokens.$css-variable-prefix}tag-padding-y);
    text-align: center;
    color: color-scheme.color();
    border-width: theme.$border-width;
    border-style: theme.$border-style;
    border-color: color-scheme.border-color();
    border-radius: theme.$border-radius;
    background-color: color-scheme.background-color();
}

@include dictionaries.generate-sizes(
    $class-name: 'Tag',
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

.Tag--disabled {
    --#{tokens.$css-variable-prefix}local-color: #{theme.$color-disabled};
    --#{tokens.$css-variable-prefix}local-border-color: #{theme.$border-color-disabled};
    --#{tokens.$css-variable-prefix}local-background-color: #{theme.$background-color-disabled};

    user-select: none;
    pointer-events: none;
    cursor: cursors.$disabled;
}

.Tag--disabled.Tag--subtle {
    --#{tokens.$css-variable-prefix}local-background-color: transparent;
}

@include component-color-overrides.generate(
    $class-name: 'Tag',
    $property-map: (
        content: color,
        background: background-color,
        border: border-color,
    )
);

.Tag:is(a, button) {
    @include pseudo-element.stretch($set-root-relative: true, $z-index: -1);
    @include dynamic-colors.background-interactive($target: '::before');

    z-index: 0;

    &::before {
        border-radius: calc(#{theme.$border-radius} - #{theme.$border-width});
        background-color: transparent;
    }
}

.Tag:is(a) {
    text-decoration: none;
    color: color-scheme.color();
}
