@use '@tokens' as tokens;
@use '../../settings/dictionaries';
@use '../../tools/units';

$border-width: tokens.$border-width-100;
$border-style: solid;
$border-radius: tokens.$radius-300;

$size-dictionary: dictionaries.$size-extended;
$size-config: (
    xsmall: (
        padding-x: tokens.$space-500,
        padding-y: calc(tokens.$space-300 - $border-width),
        typography: tokens.$label-xsmall,
        min-height: units.px-to-rem(24px),
        gap: tokens.$space-400,
    ),
    small: (
        padding-x: tokens.$space-500,
        padding-y: calc(tokens.$space-400 - $border-width),
        typography: tokens.$label-small,
        min-height: units.px-to-rem(28px),
        gap: tokens.$space-400,
    ),
    medium: (
        padding-x: tokens.$space-600,
        padding-y: calc(tokens.$space-400 - $border-width),
        typography: tokens.$label-medium,
        min-height: units.px-to-rem(32px),
        gap: tokens.$space-400,
    ),
    large: (
        padding-x: tokens.$space-700,
        padding-y: calc(tokens.$space-500 - $border-width),
        typography: tokens.$label-large,
        min-height: units.px-to-rem(40px),
        gap: tokens.$space-400,
    ),
    xlarge: (
        padding-x: tokens.$space-700,
        padding-y: calc(tokens.$space-500 - $border-width),
        typography: tokens.$label-xlarge,
        min-height: units.px-to-rem(44px),
        gap: tokens.$space-400,
    ),
);
