@use '@tokens' as tokens;
@use 'theme';

.DrawerPanel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: var(--#{tokens.$css-variable-prefix}drawer-panel-width, #{theme.$panel-width});
    height: theme.$panel-height;
    max-height: theme.$panel-max-height;
    color: theme.$panel-text-color;
    background-color: theme.$panel-background-color;
    box-shadow: theme.$panel-shadow;
    transform: translateX(var(--#{tokens.$css-variable-prefix}drawer-translate-x));
    pointer-events: auto;

    @media (prefers-reduced-motion: no-preference) {
        transition-property: transform;
        transition-duration: theme.$transition-duration;
        transition-timing-function: theme.$transition-timing;
    }
}
