// 1. Make sure the coordinates of the functionality tests are updated if the drawer width changes:
//    tests/e2e/components/demo-drawer-compare.spec.ts

@use '@tokens' as tokens;
@use '../../settings/transitions';
@use '../../tools/units';

$typography: tokens.$body-medium-semibold;
$transition-duration: transitions.$duration-200;
$transition-timing: transitions.$timing-eased-in-out;
$backdrop-background-color: tokens.$background-backdrop;

$panel-width: units.px-to-rem(312px); // 1.
$panel-height: auto;
$panel-max-height: none;
$panel-text-color: tokens.$text-primary;
$panel-background-color: tokens.$background-primary;
$panel-shadow: tokens.$shadow-400;

$common-padding-x: tokens.$space-700;

$panel-header-gap: tokens.$space-700;
$panel-header-padding-x: $common-padding-x;
$panel-header-padding-y: tokens.$space-900;

$panel-body-padding-x: $common-padding-x;
$panel-body-padding-y: tokens.$space-900;
