// 1. Set a higher specificity to override the `cursor-pointer` helper class.
//    This can be removed once Label uses `disabled` scheme.

@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/accessibility';
@use '../../tools/dictionaries';
@use '../../tools/typography';
@use 'theme';

.Label {
    --#{tokens.$css-variable-prefix}label-color: #{theme.$color-state-default};
    --#{tokens.$css-variable-prefix}label-color-disabled: #{theme.$color-state-disabled};
    --#{tokens.$css-variable-prefix}label-required-color: #{theme.$required-color};

    // @deprecated Remove the implicit medium typography variables in the next major version.
    @include typography.generate(theme.$typography, $as-css-variables: true, $css-variable-infix: 'label');
    @include typography.from-css-variables($infix: 'label');

    display: block;
    color: var(--#{tokens.$css-variable-prefix}label-color, #{theme.$color-state-default});
}

@include dictionaries.generate-sizes(
    $class-name: 'Label',
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

// 1.
.Label.Label--disabled {
    color: var(--#{tokens.$css-variable-prefix}label-color-disabled, #{theme.$color-state-disabled});
    cursor: cursors.$disabled;
}

.Label--disabled.Label--required::after {
    color: var(--#{tokens.$css-variable-prefix}label-color-disabled, #{theme.$color-state-disabled});
}

.Label--required::after {
    @include typography.generate(theme.$required-typography);

    content: '*';
    margin-left: theme.$required-margin-left;
    color: var(--#{tokens.$css-variable-prefix}label-required-color, #{theme.$required-color});
}
