// 1. Set a higher specificity to override the `cursor-pointer` helper class.
//    This can be removed once Label uses `disabled` scheme.

@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/accessibility';
@use '../../tools/typography';
@use 'theme';

.Label {
    --#{tokens.$css-variable-prefix}label-color: #{theme.$color-state-default};
    --#{tokens.$css-variable-prefix}label-color-disabled: #{theme.$color-state-disabled};
    --#{tokens.$css-variable-prefix}label-required-color: #{theme.$required-color};

    @include typography.generate(theme.$typography);

    display: block;
    color: var(--#{tokens.$css-variable-prefix}label-color, #{theme.$color-state-default});
}

// 1.
.Label.Label--disabled {
    color: var(--#{tokens.$css-variable-prefix}label-color-disabled, #{theme.$color-state-disabled});
    cursor: cursors.$disabled;
}

.Label--disabled.Label--required::after {
    color: var(--#{tokens.$css-variable-prefix}label-color-disabled, #{theme.$color-state-disabled});
}

.Label--required::after {
    @include typography.generate(theme.$required-typography);

    content: '*';
    margin-left: theme.$required-margin-left;
    color: var(--#{tokens.$css-variable-prefix}label-required-color, #{theme.$required-color});
}
