@use '@tokens' as tokens;

$typography: tokens.$body-small-semibold;
$color-state-default: tokens.$form-field-label;
$color-state-disabled: tokens.$disabled-content;
$required-typography: tokens.$body-small-regular;
$required-margin-left: tokens.$space-200;
$required-color: tokens.$form-field-danger;

$box-field-margin-bottom: tokens.$space-400;

$inline-field-typography: tokens.$body-medium-regular;

$item-typography: tokens.$body-medium-semibold;
