$_spin-duration: 1s;
$_spin-easing: linear;
$_shake-easing: ease-in-out;

@keyframes spin {
    0% {
        transform: translate(var(--animation-spin-translate, 0)) rotate(0);
    }

    100% {
        transform: translate(var(--animation-spin-translate, 0)) rotate(360deg);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    20%,
    60% {
        transform: translateX(calc(-1 * var(--animation-shake-distance, 2px)));
    }

    40%,
    80% {
        transform: translateX(var(--animation-shake-distance, 2px));
    }
}

@media (prefers-reduced-motion: no-preference) {
    .animation-spin-clockwise {
        animation: spin $_spin-duration $_spin-easing infinite;
    }

    .animation-shake {
        animation: shake var(--animation-shake-duration, 0.4s) $_shake-easing var(--animation-shake-iterations, 2);
    }
}
