// NOTE: Prettier does not yet support the native CSS if() function syntax properly.
// We use prettier-ignore comments to protect these lines from incorrect formatting.
// See: https://github.com/prettier/prettier/issues/18465

@use 'theme';
@use '@tokens' as tokens;
@use '../../tools/breakpoint';
@use '../../tools/dictionaries';

.PartnerLogo {
    --#{tokens.$css-variable-prefix}partner-logo-padding: 0;

    display: inline-block;
    max-width: 100%;
    height: fit-content;
    border-radius: theme.$border-radius;
    background: theme.$background-color;
}

.PartnerLogo > img,
.PartnerLogo > svg {
    width: auto;
    max-width: 100%;
    height: var(--#{tokens.$css-variable-prefix}partner-logo-image-height);
}

@each $breakpoint-name, $breakpoint-value in theme.$breakpoints {
    $infix: breakpoint.get-modifier('infix', $breakpoint-name, $breakpoint-value);

    @include breakpoint.up($breakpoint-value) {
        @include dictionaries.generate-variants(
            $class-name: 'PartnerLogo',
            $dictionary-values: theme.$size-dictionary,
            $config: theme.$size-config,

            // prettier-ignore
            $class-name-infix: if(sass($breakpoint-name == mobile): '' ; else: $breakpoint-name)
        );
    }
}

.PartnerLogo--fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.PartnerLogo--fluid > img,
.PartnerLogo--fluid > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.PartnerLogo--safeArea {
    padding: var(--#{tokens.$css-variable-prefix}partner-logo-padding);
}
