@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$background-color: tokens.$background-primary;
$border-radius: tokens.$radius-200;
$breakpoints: tokens.$breakpoints;
$size-dictionary: dictionaries.$size;

$image-height-config: (
    small: 32px,
    medium: 48px,
    large: 60px,
);

$size-config: (
    small: (
        padding: tokens.$space-500,
    ),
    medium: (
        padding: tokens.$space-500,
    ),
    large: (
        padding: tokens.$space-600,
    ),
);
