<div>
  <label for="{{id}}" class="Label {{#if isLabelHidden }}accessibility-hidden{{/if}}">Theme</label>
  <div class="InputContainer InputContainer--medium InputContainer--fluid">
    <select id="{{id}}" name="theme" onchange="switchTheme(event)" autocomplete="off">
      {{#each @themes as |theme|}}
        <option value="{{theme.id}}">{{theme.name}}</option>
      {{/each}}
    </select>
    <div class="InputAddon">
      <svg class="Icon" width="20" height="20" aria-hidden="true">
        <use xlink:href="/assets/icons/svg/sprite.svg#chevron-down" />
      </svg>
    </div>
  </div>
</div>

