// 1. Force the color to be printed as-is, without any color adjustment.
// 2. Put the input above the stretched label.

@use 'sass:map';
@use '../settings/cursors';
@use '../settings/form-fields' as form-fields-settings;

@mixin input-disabled() {
    color: form-fields-settings.$input-color-state-disabled;
    cursor: cursors.$disabled;
}

@mixin inline-field-input() {
    z-index: 1; // 2.
    appearance: none;
    border: form-fields-settings.$inline-field-input-border-width solid form-fields-settings.$input-border-color;
    background-color: form-fields-settings.$input-background-color;
    cursor: cursors.$form-fields;
    print-color-adjust: exact; // 1.

    &:focus-visible {
        outline: 0;
        box-shadow: form-fields-settings.$input-focus-shadow;
    }

    @media (hover: hover) {
        &:hover {
            background-color: form-fields-settings.$input-background-color-state-hover;
        }
    }

    &:active {
        background-color: form-fields-settings.$input-background-color-state-active;
    }
}

@mixin input-field-validation-states($field-name) {
    @each $validation-state-name, $validation-state-value in form-fields-settings.$validation-states {
        @if $field-name == 'FileUploadInput' {
            :is(.#{$field-name}--#{$validation-state-name}, .#{$field-name}.has-#{$validation-state-name})
                > :where(.#{$field-name}__input ~ .#{$field-name}__dropZone) {
                border-color: map.get($validation-state-value, input-border-color);
            }
        } @else if $field-name == 'File' {
            .#{$field-name}--#{$validation-state-name},
            .#{$field-name}.has-#{$validation-state-name} {
                border-color: map.get($validation-state-value, input-border-color);
            }
        } @else if $field-name == 'Checkbox' {
            :is(.#{$field-name}--#{$validation-state-name}, .#{$field-name}.has-#{$validation-state-name}) {
                border-color: map.get($validation-state-value, input-border-color);

                &:indeterminate,
                &:checked {
                    background-color: map.get($validation-state-value, input-border-color);
                }
            }
        } @else if $field-name == 'Radio' {
            :is(.#{$field-name}--#{$validation-state-name}, .#{$field-name}.has-#{$validation-state-name}) {
                border-color: map.get($validation-state-value, input-border-color);

                &::before {
                    background-color: map.get($validation-state-value, input-border-color);
                }
            }
        }
    }
}
