@mixin stretch($pseudo-element: before, $set-root-relative: false, $z-index: 0, $inset: 0) {
    @if $set-root-relative {
        position: relative;
    }

    &::#{$pseudo-element} {
        content: '';
        position: absolute;
        inset: $inset;
        z-index: $z-index;
    }
}
