// 1. Elevate interactive elements above the trigger overlay.

@use '@tokens' as tokens;
@use '../../tools/form-fields' as form-fields-tools;
@use '../../tools/typography';
@use 'theme';

.UNSTABLE_PickerSelection {
    @include typography.from-css-variables($infix: 'input-container');

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: theme.$selection-gap;
    align-items: center;
    box-sizing: border-box;
    min-height: calc(
        var(--#{tokens.$css-variable-prefix}input-container-height) - 2 *
            var(--#{tokens.$css-variable-prefix}input-container-border-width)
    );
    padding-inline-start: theme.$padding-x;
    padding-block: theme.$padding-y;
}

.UNSTABLE_PickerSelection__empty {
    margin-inline-start: calc(
        var(--#{tokens.$css-variable-prefix}input-container-input-padding-x) - #{theme.$padding-x}
    );
    color: var(--#{tokens.$css-variable-prefix}input-container-input-placeholder-color);
}

// 1.
.UNSTABLE_PickerSelection :where(a, button) {
    position: relative;
    z-index: 1;
}

.UNSTABLE_PickerSelection--disabled {
    pointer-events: none;
}

.UNSTABLE_PickerSelection--disabled .UNSTABLE_PickerSelection__empty {
    @include form-fields-tools.input-disabled();
}
