@use '@tokens' as tokens;
@use '../../settings/dictionaries';
@use '../../tools/units';

$size-dictionary: dictionaries.$size;
$size-config: (
    small: (
        typography: tokens.$input-small,
        icon-size: units.px-to-rem(16px),
    ),
    medium: (
        typography: tokens.$input-medium,
        icon-size: units.px-to-rem(20px),
    ),
    large: (
        typography: tokens.$input-large,
        icon-size: units.px-to-rem(24px),
    ),
);
