@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$breakpoints: tokens.$breakpoints;

$timeline-max-width: 800px;
$timeline-step-gap: tokens.$space-600;

$timeline-marker-border: tokens.$border-width-200 solid tokens.$border-basic;
$timeline-marker-dot-color: tokens.$text-secondary;
$timeline-marker-dot-radius: tokens.$radius-full;
$timeline-marker-margin: tokens.$space-600;
$timeline-marker-radius: tokens.$radius-full;

$timeline-connector-background-color: tokens.$border-basic;
$timeline-connector-min-height: tokens.$space-600;
$timeline-connector-width: tokens.$border-width-100;

$timeline-heading-padding: tokens.$space-600;

$timeline-content-padding-bottom: tokens.$space-900;
$timeline-content-padding-top: tokens.$space-600;

$size-dictionary: dictionaries.$size;

$default-size: small;

$marker-size-config: (
    small: 32px,
    medium: 40px,
    large: 56px,
);

$icon-size-config: (
    small: 20px,
    medium: 24px,
    large: 28px,
);

$dot-size-config: (
    small: 10px,
    medium: 12px,
    large: 16px,
);

$size-config: (
    small: (
        typography: tokens.$body-small-semibold,
    ),
    medium: (
        typography: tokens.$body-medium-semibold,
    ),
    large: (
        typography: tokens.$body-xlarge-semibold,
    ),
);
