@use '@tokens' as tokens;
@use '../../tools/typography';
@use 'theme';

.TimelineMarker {
    @include typography.from-css-variables($infix: 'timeline');

    display: flex;
    grid-area: marker;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: var(--#{tokens.$css-variable-prefix}timeline-marker-size);
    height: var(--#{tokens.$css-variable-prefix}timeline-marker-size);
    margin-block: theme.$timeline-marker-margin;
}

.TimelineMarker--dot,
.TimelineMarker--number {
    border: theme.$timeline-marker-border;
    border-radius: theme.$timeline-marker-radius;
}

.TimelineMarker--dot {
    position: relative;
    color: theme.$timeline-marker-dot-color;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: var(--#{tokens.$css-variable-prefix}timeline-dot-size);
        height: var(--#{tokens.$css-variable-prefix}timeline-dot-size);
        margin: auto;
        border-radius: theme.$timeline-marker-dot-radius;
        background-color: currentcolor;
    }
}

.TimelineMarker--icon {
    --#{tokens.$css-variable-prefix}icon-composition-size: var(--#{tokens.$css-variable-prefix}timeline-icon-size);
}
