// 1. Clip the loading spinner to fix button flickering during spinner animation.
// 2. Mobile breakpoint does not have an infix and we do not need asymmetrical classes for it, because the
//    default is already asymmetrical.

@use 'sass:map';
@use 'sass:string';
@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../tools/breakpoint';
@use '../../tools/color-scheme';
@use '../../tools/component-color-overrides';
@use '../../tools/dictionaries';
@use '../../tools/responsive-properties';
@use '../../tools/typography';
@use 'theme';
@use 'tools';

$_component-name: 'Button';

.Button {
    --#{tokens.$css-variable-prefix}icon-composition-size: var(--#{tokens.$css-variable-prefix}button-icon-size);

    @include tools.responsive-border-radius();
    @include typography.from-css-variables($infix: string.to-lower-case($_component-name));
    @include responsive-properties.create-cascade(
        $property: 'column-gap',
        $input-custom-property-base-name: 'button-spacing',
        $breakpoints: theme.$breakpoints,
        $fallback-value: theme.$column-gap
    );

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(
        --#{tokens.$css-variable-prefix}button-min-width,
        calc(2 * #{var(--#{tokens.$css-variable-prefix}button-height)})
    );
    height: var(--#{tokens.$css-variable-prefix}button-height);
    padding-inline: var(--#{tokens.$css-variable-prefix}button-padding-x);
    padding-block: var(--#{tokens.$css-variable-prefix}button-padding-y);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: color-scheme.color();
    border-width: theme.$border-width;
    border-style: theme.$border-style;
    border-color: color-scheme.border-color();
    border-start-start-radius: var(
        --#{tokens.$css-variable-prefix}button-border-start-start-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    border-start-end-radius: var(
        --#{tokens.$css-variable-prefix}button-border-start-end-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    border-end-start-radius: var(
        --#{tokens.$css-variable-prefix}button-border-end-start-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    border-end-end-radius: var(
        --#{tokens.$css-variable-prefix}button-border-end-end-radius,
        var(--#{tokens.$css-variable-prefix}button-border-radius)
    );
    background-color: color-scheme.background-color();
    user-select: none;
    cursor: cursors.$buttons;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: color-scheme.color();
    }

    &:hover {
        background-color: color-scheme.background-color-state-hover();
    }

    &:active {
        background-color: color-scheme.background-color-state-active();
    }
}

@include component-color-overrides.generate(
    $class-name: 'Button',
    $property-map: (
        content: color,
        border: border-color,
        state-default: background-color,
        state-hover: background-color-state-hover,
        state-active: background-color-state-active,
    )
);
@include dictionaries.generate-sizes(
    $class-name: $_component-name,
    $dictionary-values: theme.$size-dictionary,
    $config: theme.$size-config
);

@each $breakpoint-name, $breakpoint-value in theme.$breakpoints {
    $infix: breakpoint.get-modifier('infix', $breakpoint-name, $breakpoint-value);

    @include breakpoint.up($breakpoint-value) {
        .Button--#{$infix}symmetrical {
            flex: none;
            min-width: auto;
            aspect-ratio: 1;
            padding-inline: 0;
        }

        // 2.
        @if $infix != '' {
            .Button--#{$infix}asymmetrical {
                flex: auto;
                min-width: var(
                    --#{tokens.$css-variable-prefix}button-min-width,
                    calc(2 * #{var(--#{tokens.$css-variable-prefix}button-height)})
                );
                aspect-ratio: auto;
                padding-inline: var(--#{tokens.$css-variable-prefix}button-padding-x);
            }
        }
    }
}

// We need to override the default disabled styles for plain buttons, because we want them to be still plain.
// stylelint-disable declaration-no-important, selector-max-class
.Button.Button--plain.disabled {
    --#{tokens.$css-variable-prefix}local-border-color: transparent !important;
    --#{tokens.$css-variable-prefix}local-background-color: transparent !important;
}
// stylelint-enable

.Button.Button--loading {
    position: relative;
    overflow: hidden; // 1.
    color: transparent;
    pointer-events: none;
    cursor: cursors.$disabled;

    &:hover,
    &:focus,
    &:active {
        color: transparent;
    }
}

.Button--loading > svg:last-child {
    --animation-spin-translate: -50%, -50%;

    position: absolute;
    top: 50%;
    left: 50%;
    color: color-scheme.color();
    transform: translate(-50%, -50%);
}
