// 1. We don't want to add inline padding to nested NavigationItems.
// 2. Nested sub-items should not add inline item padding.
// 3. Sub-item text indentation works for structurally nested items.

@use '../../tools/dictionaries';
@use 'theme';

@include dictionaries.generate-alignments(
    $class-name: 'NavigationItem',
    $dictionary-values: theme.$item-alignment-dictionary,
    $axis: 'y'
);

.NavigationItem:has(.NavigationAction--box) {
    align-items: stretch;
}

.Navigation--horizontal .NavigationItem {
    display: flex;
}

.Navigation--vertical .NavigationItem {
    display: grid;

    // stylelint-disable-next-line selector-max-class, selector-max-specificity -- 1.
    &:not(& .NavigationItem) {
        padding-inline: theme.$vertical-item-padding-x;
    }
}

// stylelint-disable-next-line selector-max-compound-selectors -- 2.
.Navigation--vertical > ul ul > li {
    padding-inline-start: 0;
}

// stylelint-disable-next-line selector-max-compound-selectors -- 3.
.Navigation--vertical > ul ul > li .NavigationAction {
    padding-inline-start: theme.$vertical-sub-item-padding-inline-start;
}
