@use '../../tools/typography';
@use 'theme';

.CharacterCounter {
    @include typography.generate(theme.$typography);

    display: block;
    margin-left: auto;
    color: theme.$color-state-default;
}

.CharacterCounter--disabled {
    color: theme.$color-state-disabled;
}

.CharacterCounter--success {
    color: theme.$color-state-success;
}

.CharacterCounter--warning {
    color: theme.$color-state-warning;
}

.CharacterCounter--danger {
    color: theme.$color-state-danger;
}
