@use '@tokens' as tokens;

$typography: tokens.$body-small-regular;
$color-state-default: tokens.$form-field-helper-text;
$color-state-success: tokens.$form-field-success;
$color-state-warning: tokens.$form-field-warning;
$color-state-danger: tokens.$form-field-danger;
$color-state-disabled: tokens.$disabled-content;
