// 1. Automatically apply flex layout when an icon is directly present alongside content.

@use '../../tools/reset';
@use '../../tools/typography';
@use 'theme';

.ValidationText {
    @include typography.generate(theme.$typography);

    display: block;
}

.ValidationText > ul {
    @include reset.list();
}

.ValidationText--danger {
    color: theme.$color-state-danger;
}

.ValidationText--warning {
    color: theme.$color-state-warning;
}

.ValidationText--success {
    color: theme.$color-state-success;
}

.ValidationText--disabled {
    color: theme.$color-state-disabled;
}

// 1.
.ValidationText:has(> svg:first-child:not(:only-child)) {
    display: flex;
    column-gap: theme.$icon-gap;
}
