@use '@tokens' as tokens;
@use '../../settings/dictionaries';

$breakpoints: tokens.$breakpoints;

$border-width: tokens.$border-width-100;
$border-style: solid;
$border-radius: tokens.$radius-full;

$size-dictionary: dictionaries.$size;

$size-height-config: (
    small: 24px,
    medium: 32px,
    large: 40px,
);

$size-icon-config: (
    small: 16px,
    medium: 16px,
    large: 20px,
);

$size-config: (
    small: (
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
    ),
    medium: (
        padding-x: calc(#{tokens.$space-700} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-small-regular,
    ),
    large: (
        padding-x: calc(#{tokens.$space-900} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-medium-regular,
    ),
);

$expanded-size-dictionary: dictionaries.$size-extended;

$expanded-size-height-config: (
    xsmall: 16px,
    small: 20px,
    medium: 24px,
    large: 32px,
    xlarge: 40px,
);

$expanded-size-icon-config: (
    xsmall: 12px,
    small: 16px,
    medium: 16px,
    large: 16px,
    xlarge: 20px,
);

$expanded-size-config: (
    xsmall: (
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
    ),
    small: (
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
    ),
    medium: (
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
    ),
    large: (
        padding-x: calc(#{tokens.$space-700} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-small-regular,
    ),
    xlarge: (
        padding-x: calc(#{tokens.$space-900} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-medium-regular,
    ),
);
