@use '@tokens' as tokens;
@use '../../settings/dictionaries';
@use '../../tools/units';

$breakpoints: tokens.$breakpoints;

$border-width: tokens.$border-width-100;
$border-style: solid;
$border-radius: tokens.$radius-full;
$column-gap: tokens.$space-400;

$size-dictionary: dictionaries.$size;

$size-config: (
    small: (
        height: units.px-to-rem(24px),
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: units.px-to-rem(16px),
    ),
    medium: (
        height: units.px-to-rem(32px),
        padding-x: calc(#{tokens.$space-700} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: units.px-to-rem(16px),
    ),
    large: (
        height: units.px-to-rem(40px),
        padding-x: calc(#{tokens.$space-900} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-medium-regular,
        icon-size: units.px-to-rem(20px),
    ),
);

$expanded-size-dictionary: dictionaries.$size-extended;

$expanded-size-config: (
    xsmall: (
        height: units.px-to-rem(16px),
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: units.px-to-rem(12px),
    ),
    small: (
        height: units.px-to-rem(20px),
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: units.px-to-rem(16px),
    ),
    medium: (
        height: units.px-to-rem(24px),
        padding-x: calc(#{tokens.$space-600} - #{$border-width}),
        padding-y: calc(#{tokens.$space-300} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: units.px-to-rem(16px),
    ),
    large: (
        height: units.px-to-rem(32px),
        padding-x: calc(#{tokens.$space-700} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-small-regular,
        icon-size: units.px-to-rem(16px),
    ),
    xlarge: (
        height: units.px-to-rem(40px),
        padding-x: calc(#{tokens.$space-900} - #{$border-width}),
        padding-y: calc(#{tokens.$space-500} - #{$border-width}),
        typography: tokens.$body-medium-regular,
        icon-size: units.px-to-rem(20px),
    ),
);
