@use 'sass:map';
@use '@tokens' as tokens;
@use 'tools';

$container-max-width: tokens.$container-xlarge-max-width;
$container-paddings: map.get(tokens.$containers, padding);
$container-breakpoints: tokens.$breakpoints;

// Exclude unwanted tokens so we can iterate over Container sizes.
// Max-width and padding will be moved out of this map in the future.
$container-size-tokens: map.remove(tokens.$containers, 'padding', 'max-width');

$container-sizes: map.keys($container-size-tokens);
$size-config: ();

@each $size in $container-sizes {
    $size-config: map.merge(
        $size-config,
        (
            $size: map.get($container-size-tokens, $size),
        )
    );
}
