@use '@tokens' as tokens;
@use '../../settings/cursors';
@use '../../settings/form-fields' as form-fields-settings;

$padding: calc(#{tokens.$space-400} - #{tokens.$border-width-100});

$empty-state-color: tokens.$text-secondary;
$empty-state-padding: tokens.$space-600 tokens.$space-700;

$input-min-width: 11ch;

$option-cell-gap: tokens.$space-500;

$placeholder-color-state-default: tokens.$form-field-fill-placeholder;
$placeholder-color-state-disabled: tokens.$disabled-content;
$placeholder-cursor-state-disabled: cursors.$disabled;
$placeholder-padding-inline-start: calc(#{tokens.$space-500} - $padding);

$selection-gap: tokens.$space-300;
$selection-min-height: calc(
    var(--#{tokens.$css-variable-prefix}input-container-height) - 2 *
        #{form-fields-settings.$box-field-input-border-width}
);
