@use '../../tools/form-fields' as form-fields-tools;
@use 'theme';

.UNSTABLE_ComboboxOption {
    @include form-fields-tools.item();

    display: flex;
    gap: theme.$option-cell-gap;
    align-items: center;
    width: 100%;
    user-select: none;
    cursor: pointer;

    &[aria-selected='true'] {
        background-color: theme.$option-background-color-state-selected;
    }

    &[data-spirit-combobox-active='true'] {
        background-color: theme.$option-background-color-state-active;
        outline: none;
    }

    &[aria-disabled='true'] {
        color: theme.$option-color-state-disabled;
        pointer-events: none;
        cursor: theme.$option-cursor-state-disabled;
    }
}
