// 1. Elevate interactive elements above the trigger overlay.

@use 'theme';

.UNSTABLE_ComboboxSelection {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: theme.$selection-gap;
    align-items: center;
    box-sizing: border-box;
    min-height: theme.$selection-min-height;
    padding: theme.$padding;
}

// 1.
.UNSTABLE_ComboboxSelection :where(a, button) {
    position: relative;
    z-index: 1;
}
