@use '@tokens' as tokens;
@use '../../tools/dictionaries';
@use '../../tools/typography';
@use 'theme';

// @deprecated Will be removed in the next major version.
.Header {
    @include typography.generate(theme.$header-typography);

    display: flex;
    flex: none;
    gap: theme.$header-gap;
    align-items: center;
    height: var(--#{tokens.$css-variable-prefix}header-height);
    padding-inline: theme.$header-padding-x;
    background-color: theme.$header-background-color;
}

@include dictionaries.generate-rem-custom-properties(
    $selector: 'Header',
    $custom-property-base-name: 'header',
    $properties: (
        height: theme.$header-height,
        simple-height: theme.$header-height-simple,
    ),
    $breakpoints: tokens.$breakpoints
);

.Header--simple {
    justify-content: center;
    height: var(--#{tokens.$css-variable-prefix}header-simple-height);
}

.Header--transparent {
    background-color: transparent;
}
